{{- $videos   := .Site.Params.videos }}
{{- $title      := index $videos "title" }}
{{- $subtitle   := index $videos "subtitle" }}
{{- $urls      := index $videos "urls" }}

<section class="section section-feature-grey is-medium" id="videos">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">{{ $title }}</h2>
      <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
    </div>
    <br />
    <br />
    {{- range $urls }}
    <div class="columns">
      <div class="column is-offset-1">
        <div class="has-text-centered">
          <figure class="image is-16by9">
            <iframe width="640" height="360" src="{{ printf "%s" .url | relURL }}" title="YouTube video player" frameborder="0" allowfullscreen class="has-ratio"></iframe>
          </figure>
        </div>
      </div>
    </div>
    {{- end }}

  </div>
</section>